# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e613c7f221a173b952ddd713ef08d98c39f8b02e4c7906e4a3ebb5383818270e317950d33845e0a4da2c36cee01fe4affe34f819d8016b2d98cfbbec9d9817c7

test:
  secret_key_base: 10a494660d8ffb10aa6d8d97d3b1f7a75c6802252a476f3afe43c3f37bff41ddb86a9b43daa751766530e62a0bf821241525b434cb92d46ffc328a6871571020

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
