<body>
    <header>
      <div class="container" >
        <nav role="navigation" class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a ng-click="go('/')" class="navbar-brand"><img alt="Brand" src="<%= asset_path('logo.png') %>"></a>
          </div>
          <!-- Collection of nav links, forms, and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li ><a data-toggle="modal" data-target=".modal-info.bs-info-modal-lg">Info</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-center">
              <li>
                <a ng-click="go('/')" class="navbar-brand">
                  <img alt="Brand" src="<%= asset_path('logo.png') %>">
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a data-toggle="modal" data-target=".modal-cart" class="minicart"><span>В корзине товаров</span><i class="sum">{{cartProducts.length}}</i></a></li>
            </ul>
          </div>
        </nav>

      </div>

      <div class="cart-affix" >
        <div class="container">
          <div class="nav navbar-nav navbar-right">
            <a data-toggle="modal" data-target=".modal-cart" class="minicart"><i class="sum">{{cartProducts.length}}</i></a>
          </div>
        </div>
      </div>
    </header>

    <main ng-init="page=0;">
      <div class="container">

        <div class="brands row">
          <div class="brands-item col-xs-12 col-sm-12 col-md-6" ng-repeat="brand in brands">
            <div class="circle" ng-class="{'active': page == $index}" ng-click="brandClick($index,brand)">
              <span class="brand-name">{{brand.title}}</span>
            </div>
          </div>

        </div><!-- ng-show="page==0"-->

        <div class="brand-page row">
          <div class="col-xs-12">
            <div class="about-brand panel panel-default">
              <div class="panel-heading">
                <h1 class="h2">{{brandInfo.title}}</h1>
              </div>
              <div class="panel-body">
                <p>{{brandInfo.description}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="product col-sm-12 col-md-6" ng-if="products" ng-repeat="product in products">
            <div class="product-card" data-index="{{$index}}">

              <div class="product-content row">
                <div class="product-img col-xs-4 col-sm-3 col-md-4">
                  <div class="image">
                    <img ng-src="{{product.image}}"  alt="{{product.image}}">
                  </div>
                </div>
                <div class="product-info col-xs-8 col-sm-9 col-md-8">

                  <h2 class="product-name page-header h1">{{product.title}}</h2>
                  <p class="product-about">{{product.description}}</p>

                  <div class="product-add form-horizontal">
                    <div class="product-add_nicotine form-group">
                      <label for="nicotineId" class="control-label">Крепкость</label>
                      <select class="form-control" ng-options="nicotine as nicotine.count for nicotine in nicotines track by nicotine.count" ng-model="product.selected" required></select>
                    </div>
                  </div>

                  <div class="product-add_btn">
                    <button  type="button" style="outline: none;" class="btn btn-default popover-dismissible popover-top" data-toggle="popover" data-trigger="focus" data-placement="top" title="Popover Header" data-content="Выберите, пожалуйста, количество никотина в жидкости!" ng-click="addToCartClick(product, $index)">Добавить в корзину</button>
                    <button  type="button" style="outline: none;" class="btn btn-success" data-toggle="modal" data-target=".modal-cart" >Перейти в корзину</button>
                  </div>

                </div>
              </div>


              <div class="cart-affix-error" data-index="{{$index}}" >
                  <div class="nav text-center">
                    Укажите крепкость!
                  </div>
              </div>
            </div>
          </div>
        </div>

    </main>

    <footer class="footer-top">
      <div class="container">
        <div class="row">
          <div class="footer-item col-xs-6 col-sm-4">
            <div>
              <h4>Контакты</h4>
              <div class="vcard">
                <div>
                  <span class="fn org">LowOhm</span>
                </div>
                <div class="adr">
                  <span class="locality">г. Тверь</span>,
                  <span class="street-address">ул. Радищева, д. 29а</span>
                </div>
                <div>
                  Телефон: <abbr class="tel">+7 (890) 123-45-67</abbr>
                </div>
                <div>
                  <a href="mailto:lowohm@mail.ru" class="email">lowohm@mail.ru</a>
                </div>
                <div>Мы работаем <span class="workhours">ежедневно с 11:00 до 24:00</span>
                  <span class="url">
                    <span class="value-title" title="http://www.lowohm.club"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-item col-xs-6 col-sm-4">
            <div>
              <h4>Мы в социальных сетях</h4>
              <ul>
                <li><a href="#">Вконтакте</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">YouTube</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-item col-xs-12 col-sm-4">
            <div>
              <h4>О сайте</h4>
              <p>Stumptown put a bird on it hoodie yuccie pinterest cred. Pour-over echo park try-hard etsy mixtape, pop-up hashtag actually banh mi ugh sartorial. Readymade 3 wolf moon man bun kitsch gentrify messenger bag heirloom whatever scenester.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <footer class="footer-bottom">
      <div class="container">© copyright Vilka & Gordano</div>
    </footer>


</body>


  <div class="modal-cart modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="text-center h2 modal-title" id="gridSystemModalLabel" ng-if="cartProducts">Товары в корзине</h1>
      </div>
      <div class="modal-body">
          <div class="table-responsive" ng-if="cartProducts.length > 0">
            <table class="table table-hover" >
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Бренд</th>
                        <th>Цена</th>
                        <th>Никотин</th>
                        <th>Количество</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cartProduct in cartProducts">
                        <td>{{cartProduct.title}}</td>
                        <td>{{cartProduct.brand}}</td>
                        <td>{{cartProduct.price}}</td>
                        <td>{{cartProduct.nicotine}}</td>
                        <td class="product-add_sum form-group col-xs-1">
                          <input type="number" class="form-control" id="product_price" min="0" step="1" ng-model="cartProduct.quantity" name="product[quantity]" ng-change="changeQuantity($index)">
                        </td>
                        <td>
                          <button class="btn-delete" ng-click="removeFromCartClick($index)"></button>
                        </td>
                    </tr>

                </tbody>
            </table>
          </div>
        </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="total-price">Итоговая стоимость: <span>{{cartTotalPrice}}</span> руб.</h4>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-default" data-dismiss="modal">Вернуться</button>

            <button type="button"  data-dismiss="modal" class="btn btn-success" ng-if="cartProducts.length > 0"  ng-click="go('/checkout')">Оформить</button>

          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal-info modal bs-info-modal-lg" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="text-center h2 modal-title" id="gridSystemModalLabel" ng-if="cartProducts">Информация о магазине</h1>
      </div>
      <div class="modal-body">
        <h3>Контакты<h3>
        <p>
          Hammock drinking vinegar lo-fi, leggings green juice portland offal XOXO truffaut meditation. Leggings chartreuse +1, fap bushwick affogato health goth. Flexitarian hammock chillwave, viral brooklyn franzen godard kickstarter actually mlkshk pug. Meh 8-bit skateboard, chia whatever salvia knausgaard lumbersexual freegan tacos ramps migas put a bird on it occupy. Viral celiac sriracha, waistcoat authentic brunch migas chia plaid. Pork belly blue bottle distillery humblebrag sriracha pop-up, VHS irony. Tilde banh mi trust fund, migas paleo meditation 8-bit intelligentsia neutra chambray sartorial XOXO swag hammock pinterest.
        </p>
      </div>
      <div class="modal-footer">
        <div class="row">

          <div class="col-sm-6">
            <button type="button" class="btn btn-default" data-dismiss="modal">Вернуться</button>

          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





